:root {
  --bg-color: #1f2747;
  --primary-color: #d63100;
  --highlight-color: #a4dcf4;
  /* överväg att skita i highlight color helt */
}

body {
  background: var(--bg-color);
  font-style: roboto;
}

.background {
  background: var(--bg-color);
}

.logo {
  position: absolute;
  top: 10px;
  background: white;
  width: 264px;
  height: 112px;
  margin: 32px;
  text-align: center;
  font-style: roboto;
}

.second-word {
  color: var(--primary-color);
}

.logo h1 {
  font-size: 42px;
  color: var(--bg-color);
}

.bg-pic {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.crop {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.distance {
  height: 16em;
}

.small-distance {
  height: 6.5em;
}

.logo-link {
  margin: 0;
  padding: 0;
}

h1 {
  font-style: roboto;
}

p {
  font-style: roboto;
}

.custom-card {
  width: 18rem;
}

.custom-sub-card {
  width: 14rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 14rem;
}

.custom-sub-card .card-body {
  height: 20rem;
}

.custom-sub-card .card-img-top {
  height: 200px;
  background: #212529;
  object-fit: contain;
}

.list-group-item {
  width: 25rem;
}

@media only screen and (min-width: 668px) {
  .course-cards {
    margin-left: 10%;
    margin-right: 10%;
  }
  .list-group-item {
    width: 35rem;
  }
}

@media only screen and (min-width: 1440px) {
  .custom-card {
    width: 22rem;
  }
  .course-cards {
    margin-left: 20%;
    margin-right: 20%;
  }
  .list-group-item {
    width: 40rem;
  }
}
